<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
  <%- include ("../inc/nav") %>
    <div class="container mt-5">
      <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="<%= blog.id %>">
        <input type="hidden" name="img" value="<%= blog.img %>">
        <div class="form-group row">
          <label for="title" class="col-sm-2 col-form-label">title</label>
          <div class="col-sm-10">
            <input type="title" class="form-control" name="title" id="title" placeholder="title"
              value="<%= blog.title %> ">
          </div>
        </div>
        <div class="form-group row mt-2">
          <label for="category_id" class="col-sm-2 col-form-label">category</label>
          <div class="col-sm-10">
            <select name="category_id" class="form-control" id="category_id" selected>
              <% categories.forEach(category=> { %>

                <% if (category.id==blog.id) { %>
                  <option value="<%= category.id %>" selected>
                    <%= category.name %>
                  </option>
                  <% } else { %>
                    <option value="<%= category.id %>">
                      <%= category.name %>
                    </option>
                    <% } %>
                      <% }) %>
            </select>
          </div>
        </div>
        <div class="form-group row  mt-2">
          <label for="text" class="col-sm-2 col-form-label">Text</label>
          <div class="col-sm-10">
            <textarea name="text" id="text" class="form-control" rows="5"> <%= blog.text %> </textarea>
          </div>
        </div>
        <div class="form-group row mt-2">
          <div class="d-flex align-items-center">
            <label for="img" class="col-sm-2 col-form-label">image</label>
            <img src="/img/<%= blog.img %>" class="w-25 img-fluid" alt="">
            <div class="col-sm-10">
              <input type="file" name="img" id="image" value="<%= blog.img %> ">
            </div>
          </div>
        </div>
        <div class="form-group row mt-2">
          <div class="col-sm-2">Chek</div>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" name="chek" type="checkbox" id="chek" <%=blog.chek ? "checked" :"" %>>
            </div>
          </div>
        </div>
        <div class="form-group row mt-2">
          <div class="col-sm-2">home</div>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" name="home" type="checkbox" id="home" <%=blog.home ? "checked" :"" %> >
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">SEND</button>

      </form>

    </div>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>